body {
  /* background-image: url("https://i.imgur.com/3ekswWw.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: block; */

  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 55px;
  line-height: 1.5;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

form {
  display: flex;
}

.topic {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 26px;
}

.button {
  margin-left: 10px;
  background: #b0e1f8;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 20px;
  padding: 20px;
  line-height: 40px;
  display: flex;
}

.form-container {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 10px;
  text-align: left;
}

footer {
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: blue;
}

.loading {
  width: fit-content;
  font-size: 20px;
  clip-path: inset(0 1ch 0 0);
  animation: l4 1s steps(4) infinite;
}

@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
